input {
    font-family: "Roboto", sans-serif;
    background-color: var(--app-content-secondary-color);
    border: var(--default-border);
    color: var(--app-content-main-color);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: var(--form-elements-border-radius);
    height: 40px;
    width: 300px;
  }

input:focus {
    border-color: var(--form-elements-active);
  }

input:hover {
    border-color: var(--form-elements-active);
  }

input:placeholder {
    color: var(--app-content-main-color);
    font-size: 14px;
}

input[type="checkbox"] {
  outline: 0;
  background: #f2f2f2;
  border: 1px solid black;
  width: 13px;
  margin-left: 20;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

button{
    font-family: "Roboto", sans-serif;
    background: var(--app-content-secondary-color);
    border: var(--default-border);
    padding: 10px;
    color: var(--app-content-main-color);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: var(--form-elements-border-radius);
}

button:hover {
    border-color: var(--form-elements-active);
}


.form-text-area {
  background-color: var(--app-content-secondary-color);
  border: var(--default-border);
  border-radius: var(--form-elements-border-radius);
  color: var(--app-content-main-color);
  font-size: 15px;
  line-height: 20px;
  padding: 0px 0px 0px 5px;
  height: 10em;
  width: 30em;
  margin-bottom: 10px;
}

.form-text-area:hover{
border-color: var(--navbar-active-link);
}

.form-text-area:focus {
border-color: var(--navbar-active-link);
outline: none;
}

.header-button-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0;
}

.header-button {
  margin: 0;
  border-radius: 0;
}

.header-button-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0;
}

.header-button-left, .header-button, .header-button-right {
  border: 1px solid var(--grey-text);
}

.header-button-left:hover, .header-button:hover, .header-button-right:hover {
  border: 1px solid var(--svg-icon-color);
}