@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold mt-2 mb-2;
  }

  h2 {
    @apply text-2xl font-semibold mt-2 mb-2;
  }

  h3 {
    @apply text-xl font-medium mt-2 mb-2;
  }
  a {
    @apply text-link-green;
  }
}

* {
  box-sizing: border-box;
}

 :root {
  --app-bg: #0c1219;
  --app-content-secondary-color: rgb(12, 18, 25);
  --app-content-main-color: white;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--app-content-secondary-color);
  color: var(--app-content-main-color);
  justify-content: center;
}


/* Loading spinner */
.loading-spinner {
  border: 4px solid var(--table-background-color);
  border-radius: 50%;
  border-top-color: var(--form-elements-active);
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

/* Loading bar */
.loading-bar {
  width: 30%;
  height: 10%;
  background-color: var(--link);
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 3.0s linear infinite;
}

@keyframes slide {
  0% {
      left: -30%;
  }
  50% {
      left: 50%;
  }
  100% {
      left: 100%;
  }
}