@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply m-0 p-0 w-full h-full overflow-hidden;
  }

  body {
    @apply m-0 p-0 w-full h-full overflow-hidden;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-base font-bold;
  }

  a {
    @apply text-accent-color;
  }

  a:hover {
    @apply text-primary-color
  }

  button {
    @apply bg-secondary-color text-primary-color cursor-pointer border rounded-lg border-border-color h-8 transition duration-200 ease-in-out;
  }

  button:hover {
    @apply border-accent-color;
  }

  input {
    @apply h-10 w-80 bg-secondary-color p-3 text-primary-color rounded-lg border text-sm border-border-color;
  }


  input:hover {
    @apply border-accent-color;
  }

  input:focus {
    @apply border-accent-color outline-none;
  }
}

@layer components {
  .card {
    @apply rounded-lg bg-tertiary-color w-full flex flex-col p-3;
  }

  .post-card {
    @apply flex flex-row bg-tertiary-color rounded-lg pt-2 pb-3 mt-3 mb-3;
  }

  .post-title-card {
    @apply flex flex-row border border-tertiary-color rounded-lg mt-5 pt-3 pb-3 pr-3;
  }

  .default-checkbox {
    @apply h-4 w-4 border-secondary-color rounded-md;
  }

  .default-checkbox:checked {
    @apply border-none;
  }

  .app-container {
    @apply flex h-full w-full bg-secondary-color text-primary-color justify-center;
  }


}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Loading spinner */
.loading-spinner {
  border: 4px solid #121c26;
  border-radius: 50%;
  border-top-color: #00FFA7;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Loading bar */
.loading-bar {
  width: 30%;
  height: 20%;
  background-color: #00FFA7;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 3.0s linear infinite;
}

@keyframes slide {
  0% {
    left: -30%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 100%;
  }
}