@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold mt-2 mb-2;
  }

  h2 {
    @apply text-2xl font-semibold mt-2 mb-2;
  }

  h3 {
    @apply text-xl font-medium mt-2 mb-2;
  }

  h4 {
    @apply text-base font-bold mt-2 mb-2;
  }

  a {
    @apply text-link-green;
  }
}

@layer components {
  .card {
    @apply rounded-lg bg-card-bg-color w-full flex flex-col p-3 mb-3;
  }
  .post-card {
    @apply flex flex-row bg-card-bg-color rounded-lg pt-2 pb-3 mt-3 mb-3;
  }
  .post-title-card {
    @apply flex flex-row border border-border-color rounded-lg mt-5 pt-3 pb-3 pr-3;
  }
}
* {
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(12, 18, 25);
  color: white;
  justify-content: center;
}


/* Loading spinner */
.loading-spinner {
  border: 4px solid #121c26;
  border-radius: 50%;
  border-top-color: #00FFA7;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Loading bar */
.loading-bar {
  width: 30%;
  height: 10%;
  background-color: #00FFA7;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 3.0s linear infinite;
}

@keyframes slide {
  0% {
    left: -30%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 100%;
  }
}