.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    width: 350px;
    height: 100%;
    min-height: 75px;
    border-right: var(--default-border);
    left: 0px;
}

.navbar-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.navbar-header-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-section-container {
    width: 100%;
    display: flex;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 14px;
    margin-bottom: 30px;
    border-bottom: var(--default-border);
}

.navbar-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7px;
}

.navbar-list {
    padding: 0;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.navbar-list-item {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    padding: 5px;
    font-weight: 400;
    letter-spacing: 0.00938em;
    color: var(--header-link);
}

.navbar-list-item-active {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 5px;
    padding: 5px;
    font-weight: 400;
    letter-spacing: 0.00938em;
    background-color: var(--navbar-active-link-background);
    border-radius: 5px;
    color: var(--navbar-active-link-text);
}

.navbar-list-item-active svg {
    stroke: var(--navbar-active-link-text);
}

.navbar-list-item-active:hover svg {
    stroke: var(--navbar-active-link-text);
    transition: stroke 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-list-item:hover {
    color: var(--header-link-hover);
}

.navbar-list-item:hover svg {
    stroke: var(--app-content-main-color);
}

.horizontal-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.horizontal-list-item {
    display: inline;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.00938em;
}