/* Loading spinner */
.loading-spinner {
    border: 4px solid var(--table-background-color);
    border-radius: 50%;
    border-top-color: var(--form-elements-active);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.loading-spinner-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

svg.feather {
    vertical-align: middle;
    line-height: 0;
    stroke: var(--svg-icon-color);
    fill: none;
}

/* Loading bar */
.loading-bar-container {
    width: 100%;
    height: 15px;
    overflow: hidden;
    position: relative;
}

.loading-bar {
    width: 30%;
    height: 10%;
    background-color: var(--link);
    position: absolute;
    top: 0;
    left: 0;
    animation: slide 3.0s linear infinite;
}

/* Keyframes for the sliding animation */
@keyframes slide {
    0% {
        left: -30%; /* Start off-screen to the left */
    }
    50% {
        left: 50%; /* Middle of the container */
    }
    100% {
        left: 100%; /* End off-screen to the right */
    }
}